<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.thanksgiving.cn/H58335462_0612110924.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://www.thanksgiving.cn/gongyi57*57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://www.thanksgiving.cn/gongyi512*512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>﻿io.dcloud.H58335462</string>
				<key>bundle-version</key>
				<string>2.3.6</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>感恩链</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
